<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="GitLab Pages">
    <meta name="description" content="Fab Academy documentation site for Your Name">
    <title>Your name - Fab Academy</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <a href="index.html">Weekly Assignments</a>
        <a href="final-project.html">Final Project</a>
        <a href="about.html">About me</a>
      </div>
    </div>

    <div class="content">

      <h1>About me</h1>

      <img src="./images/avatar-photo.jpg" alt="Photo of Your name" />
      <!-- While this is an image from the images folder. Never use absolute paths (starting with /) when linking local images, always relative. -->

      <p>Hi! I am Your name. I am an art director & graphic designer based in New York City working on branding, visual identities, editorial design and web design.</p>


      <h2>Previous work</h2>

      <p>I'm a paragraph. Edit the page on Gitlab to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.​</p>

      <h3>Project A</h3>

      <p>Talking about a specific project I am proud of.</p>
    </div>

    <footer>
      <p>Copyright 2023 &#60;Your name&#62; - Creative Commons Attribution Non Commercial </p>
      <p>Source code hosted at <a href="{{repo_url}}">{{repo_name}}</a></p>
    </footer>
  </body>
</html>
