<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="GitLab Pages">
    <meta name="description" content="Fab Academy documentation site for Your Name">
    <title>Your name - Fab Academy</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <a href="index.html">Weekly Assignments</a>
        <a href="final-project.html">Final Project</a>
        <a href="about.html">About me</a>
      </div>
    </div>

    <div class="content">

      <h1>My Final Project example</h1>

      <p>This is where I will start defining my final project idea and start to get use to the documentation process.</p>

      <h2>Research</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p

      <quote>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</quote>

      <h2>2D and 3D Modeling</h2>
      
      <p>Add here your modeling and design.</p>

      <h2>Some other section</h2>

      <p>This is an updated text.</p>

      <hr />

      <h2>Materials</h2>

      <table border="1">
        <thead>
          <tr>
            <th>Qty</th>
            <th>Description</th>
            <th>Price</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Material one </td>
            <td>22.00 $</td>
            <td>https://amazon.com/testoe</td>
            <td>Order many</td>
          </tr>
          <tr>
            <td>Material two </td>
            <td>22.00 $</td>
            <td>https://amazon.com/testoe</td>
            <td></td>
          </tr>
          <tr>
            <td>Material three </td>
            <td>22.00 $</td>
            <td>https://amazon.com/testoe</td>
            <td></td>
          </tr>
          <tr>
            <td>Material four </td>
            <td>22.00 $</td>
            <td>https://amazon.com/testoe</td>
            <td></td>
          </tr>
        </tbody>
      </table>

    </div>

    <footer>
      <p>Copyright 2023 &#60;Your name&#62; - Creative Commons Attribution Non Commercial </p>
      <p>Source code hosted at <a href="{{repo_url}}">{{repo_name}}</a></p>
    </footer> 

  </body>
</html>
